/* busuanzi统计 */
span#busuanzi_value_page_pv {
  margin-left: 10px;
}
/* busuanzi统计结束 */

/* 面包屑导航 */
.breadcrumb {
  background: #fafafa;
  /* padding: 4px 15px; */
  margin-bottom: 10px;
  list-style: none;
  border-radius: 5px;
}
.breadcrumb > li {
  display: inline-block;
  opacity: 0.7;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}
.breadcrumb li a {
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #35a935;
}

.page-photos figure {
  max-width: 80%;
  margin: 0 auto 3rem;
}
.page-photos figure img {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
/* 面包屑导航结束 */

/* TOC 目录 */
.toc-nav {
  margin-top: 15px;
  /* position: fixed; */
  width: 50%;
  /* margin-left: -280px; */
  font-size: 12px;
  /* border: 1px solid rgba(0, 0, 0, 0.07); */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.98);
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  word-wrap: break-word;
  /* white-space: nowrap; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  cursor: pointer;
  max-height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 10px 15px 0px;
}

.toc-nav ul {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 1px;
}

.toc-nav .nav-link {
  text-overflow: ellipsis;
  overflow: hidden;
}

.toc-nav li,
.toc-nav ul {
  width: 100%;
}

.toc-nav .nav-item,
.toc-nav .nav-link {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1rem;
  padding: 0 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #666;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.toc-nav a.nav-link:hover {
  background-color: transparent;
  border-left: 0.025rem solid #38849e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #38849e;
}

.toc-nav a.nav-link.active,
.toc-nav a.nav-link:active {
  background-color: transparent;
  color: black;
  border-left: 0.125rem solid #38849e;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
}
/* TOC 目录结束 */

/* 打赏reward */
#QR {
  padding-top: 20px;
}

#QR a {
  border: 0;
}

#QR img {
  width: 180px;
  max-width: 100%;
  display: inline-block;
  margin: 0.8em 2em 0 2em;
}

#rewardButton {
  border: 1px solid #ccc;
  line-height: 36px;
  text-align: center;
  height: 36px;
  display: block;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #fff;
  color: #999;
  margin: 0 auto;
  padding: 0 25px;
}

#rewardButton:hover {
  color: #35a935;
  border-color: #35a935;
  outline-style: none;
}
/* 打赏reward结束 */

/* 上一页下一页 */
.permalink {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-nav .prev,
.post-nav .next {
  height: 20px;
}

/* 顶部阅读进度 */
.top-scroll-bar {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 1.5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #35a935;
}

.top-scroll-bar::-webkit-progress-bar {
  background-color: transparent;
}

.top-scroll-bar::-webkit-progress-value {
  background-color: #35a935;
}

.top-scroll-bar::-moz-progress-bar {
  background-color: #35a935;
}
/* 顶部阅读进度结束 */

/* 分类颜色 */
.meta-category a {
  color: #ba3925;
}
/* 分类颜色结束 */

.post-content p {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TODO 需要添加注释 */
/* 屏幕尺寸超过1024px才更换新css */
@media screen and (min-width: 1024px) {
  /* 设置格子背景 */
  body {
    opacity: 1;
    background-color: #8a8a8a08;
    background-image: linear-gradient(
        transparent 49px,
        #dedfdf36 49px,
        #dedfdf36 51px,
        transparent 51px
      ),
      linear-gradient(
        90deg,
        transparent 49px,
        #dedfdf36 49px,
        #dedfdf36 51px,
        transparent 51px
      ),
      linear-gradient(
        transparent 9px,
        #f6f2f245 9px,
        #f6f2f245 10px,
        transparent 10px
      ),
      linear-gradient(
        90deg,
        transparent 9px,
        #e2e2e245 9px,
        #e2e2e245 10px,
        transparent 10px
      );
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  }
  /* header容器更换 */
  #header .container {
    background-color: white;
    padding-top: 30px;
  }
  #body .container {
    padding-bottom: 20px;
  }

  #header {
    padding: 0;
  }

  #footer {
    background-color: white;
  }
  .post-title a {
    color: #4caf50;
  }
  .post-title a:hover {
    color: green;
    text-decoration-line: underline;
    padding-bottom: 30px;
  }

  .post {
    padding: 15px 50px 30px;
    /* border: 1px solid; */
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px #d8d3d3;
  }

  /* sibar a颜色 标题颜色 */
  .widget-list a {
    color: #4caf50;
    overflow: hidden;
  }

  .widget-list a:hover {
    color: green;
    text-decoration-line: underline;
  }
  /* sibar a颜色 标题颜色结束 */

  #secondary {
    background-color: white;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 35px;
  }

  /* 翻页 */
  .page-navigator {
    background-color: white;
    padding: 25px 0 15px;
  }

  .page-navigator a:hover {
    color: #4caf50;
  }
  .page-navigator .current a.current {
    color: #4caf50;
  }

  /* 继续阅读 */
  .readmore a {
    color: green;
  }
  .readmore a:hover {
    text-decoration-line: underline;
  }

  /* 更多 */
  .listing {
    list-style: none;
  }

  .listing a {
    color: #4caf50;
  }
  .listing a:hover {
    text-decoration-line: underline;
  }
  /* a 标签颜色增加结束*/

  /* 导航栏 */
  #header {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    z-index: 9999;
  }
  .header-container {
    width: 70%;
    margin: 0 auto;
  }
  /* 站点logo */
  .site-logo {
    float: left;
  }

  .site-logo p.description {
    display: none;
  }
  .site-title {
    font-size: 25px;
  }
  /* 站点logo结束 */
  .nav-list {
    width: 45%;
    float: right;
  }

  .nav-list ul {
    list-style-type: none;
    overflow: hidden;
    z-index: 9999;
  }

  .nav-list ul li {
    float: left;
  }

  .nav-list li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-list li a:hover {
    background-color: #4caf50;
    color: white;
  }
  .nav-list li a.current {
    background-color: #4caf50;
    color: white;
  }

  /* 二级菜单整体设定   */
  .nav-list ul li ul {
    display: none; /* 隐藏二级菜单列表*/
    position: absolute; /*二级菜单的位置固定*/
  }
  .nav-list ul li:hover ul {
    display: block; /*二级菜单  将显示为块级元素*/
    width: auto; /*消除二级菜单的滚动条，因为继承了父级的宽度*/
  }
  .nav-list ul li ul li {
    float: none; /*消除二级菜单的浮动*/
    background-color: #f8f8f8;
    width: 100%;
  }
  /* 导航栏结束 */

  /* 归档头部 */
  .archive-title {
    padding-top: 0px;
    color: #999;
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  /* 内容与导航栏头部距离 */
  .res-cons,
  #secondary,
  .category-title,
  .post-archive-title {
    margin-top: 70px;
  }
  .archive-top {
    margin-top: 70px;
  }
  /* 内容与导航栏头部距离结束 */
  /* 重设文章卡片与头部的距离 */
  #main {
    padding-top: 0px;
  }
  /* 重设文章卡片与头部的距离结束 */
}

/* 小屏幕样式设计 */
@media print, screen and (max-width: 860px) {
  #header {
    width: auto;
    margin: 0 auto;
  }
  .header-container {
    width: 80%;
    margin: 0 auto;
  }
  .nav-list {
    width: 100%;
    margin-top: 5%;
  }

  .nav-list ul {
    list-style-type: none;
    overflow: hidden;
    z-index: 9999;
  }

  .nav-list ul li {
    float: left;
  }

  .nav-list li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
  }

  .nav-list li a:hover {
    background-color: #4caf50;
    color: white;
    padding: 0.5em 1em;
  }
  .nav-list li a.current {
    background-color: #4caf50;
    color: white;
    padding: 0.5em 1em;
  }

  /* 二级菜单整体设定   */
  .nav-list ul li ul {
    display: none; /* 隐藏二级菜单列表*/
    position: absolute; /*二级菜单的位置固定*/
  }
  .nav-list ul li:hover ul {
    display: block; /*二级菜单  将显示为块级元素*/
    width: auto; /*消除二级菜单的滚动条，因为继承了父级的宽度*/
  }
  .nav-list ul li ul li {
    float: none; /*消除二级菜单的浮动*/
    background-color: #f8f8f8;
    width: 100%;
  }
  /* 导航栏结束 */
}
/* 小屏幕样式设计结束 */
